ROOT_CODE=/home-local/etylson/ws/sssgan_public/sssgan
ROOT_PREP=/home-local/etylson/ws/sssgan_public/sssgan/generate_ds
INRIA_ORIG=/data-local/data1-hdd/etylson/INRIA_original/AerialImageDataset
GT_PATH=/home-local/etylson/ws/sssgan_demo_data/train/gt 
IMAGES_PATH=/home-local/etylson/ws/sssgan_demo_data/train/images
VAL_GT_PATH=/home-local/etylson/ws/sssgan_demo_data/val/gt
VAL_IMAGES_PATH=/home-local/etylson/ws/sssgan_demo_data/val/images
SEMANTIC_VECTOR=/home-local/etylson/ws/sssgan_demo_data/global_descriptor_vec